<div class="charts">

  <%= line_chart sensor_2a_path, xtitle: "Time", ytitle: "Temperature", refresh: 60 %> %>
  <%= line_chart sensor_2b_path, xtitle: "Time", ytitle: "Temperature", refresh: 60 %> %>

</div>
