<div class="col-lg-12">
<div class="charts">

  <%= line_chart @data,
      { name: "Setpoint 6",
        data: @setpoint6
      },
      
      library:
      {
        backgroundColor: "#eee"
      }
  %>

</div>
</div>
